* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: black;
    position: relative;
}

.header h1 {
    text-transform: uppercase;
    color: white;
    z-index: 1;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 43%, rgba(255, 255, 255, 0) 100%);
}

/* main content*/

.hidden{
    display: none;
}
