* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: black;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 43%, rgb(47, 76, 90) 100%);
    position: relative;
    border-bottom: solid rgb(238, 234, 234) 1px;
}

.header h1 {
    text-transform: uppercase;
    color: white;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 43%, rgba(255, 255, 255, 0) 100%);
}

/* main content*/

.hidden {
    display: none;
}

main {
    background-color: rgb(46, 46, 46);
}

.main-section {
    background-image: url('./blackHole.png');
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 103px);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pomodoro-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 57%, rgba(32, 32, 32, 0.7595413165266106) 98%);
}

.pomodoro-timer-animation {
    width: 320px;
    height: 335px;
    border-radius: 50%;
    background-color: rgb(156, 155, 155);
    position: absolute;
    z-index: 1;
    filter: blur(0.2rem);
    animation: spinAnimation 5s linear infinite;
}

.pomodoro-timer-animation::before {
    content: "";
    width: 325px;
    height: 340px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    position: absolute;

    animation: spinAnimation 8s linear infinite;
}

@keyframes spinAnimation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.timer {
    display: block;
    color: white;
    padding: 3rem 1rem;
    font-size: 2.8rem;
}

.options-timer {
    display: block;
}

.options-timer button:hover {
    background-color: rgb(161, 98, 16);
}


.more {
    position: absolute;
    bottom: 5%;
}